.DS_Store
**/build-tmp/
sandbox/
sample.mp3
application.*
src/sketch.pde
**/config.json
devnotes.txt
**/doc-export.md
sketches/
**/data/*.txt
*.mp4
ffmpeg.txt
ffmpeg-audio.txt
**/data/*.svg
configure-build.sh
oavp.app
devnotes.txt
**/screenshots
project.todo
screencap-code-exports/
**/node_modules/
**/target.txt