<div id="statuses">
  <pre id="sketch-socket"></pre>
  <pre id="commander-socket"></pre>
</div>
<div id="clipboard-area">
  <pre id="data"></pre>
</div>
<div id="event-log">
  <pre id="response"></pre>
  <!-- <pre id="last-button">Last button pressed: ...</pre> -->
</div>
